body {
    background-color: lightskyblue;
    width: 1850px;
    height: 950px;
}

.bigDiv {
    
}
.whale {
    position: absolute;
    bottom:-100px;
    LEFT:25%;
    WIDTH:600px;
    transition: all 2.5s ease;
}

.whale:active {
    transform: translate(0px, -700px);

}

.plane {
    position: absolute;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    right: 10px;
    transition: all 2.5s ease;
}

.plane:active {
    transform: translate(0px, -700px);

}