div {
    width: 1280px;
    height: 720px;
    border: 100px ridge black;
    background-image: url("Sirfeitch'd on Sirfeitch'd action.jpg");
    background-size: 1280px 720px;
    transition: all 10s ease;
    margin-left: auto;
    margin-right: auto;
}

div:hover{
    background-size: 145000px 80600px;
    background-position: -61500px -27000px;
}
